#head_contain {
  background-color: rgb(89, 189, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 0 1vw 0;
}

#title {
  padding: 0;
  margin: 0 0 0 2vw;
  font-size: 3vw;
}

#links_container {
  width: 25%;
}

#links {
  margin: 0 2vw 0 0;
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

#links a {
  text-decoration: none;
}

.active-link {
  font-weight: 600;
  color: orange;
}
