#screen {
  width: 100%;
  background-color: grey;
  color: rgb(255, 255, 255);
  height: 20vh;
  font-size: 70px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.smallButton {
  width: 25%;
  height: 16vh;
  font-size: 35px;
}

#zero {
  width: 50%;
  height: 16vh;
  font-size: 35px;
}

.operators {
  background-color: rgb(252, 173, 120);
}
